.minesweeper-game {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(1, 1fr);

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    height: 500px;
    width: 500px;
  }

  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
    height: 300px;
    width: 300px;
  }

  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    height: 230px;
    width: 230px;
  }
}
