<div class="d-flex justify-content-center container">
  <div class="minesweeper-game">
    <div>
      <mat-form-field class="d-flex justify-content-center" appearance="fill">
        <mat-label>{{ "labels.chooseDifficulty" | translate }}</mat-label>
        <mat-select (selectionChange)="setBorderSize($event)">
          <mat-option *ngFor="let diff of gameDifficulty" [value]="diff.size">
            {{ diff.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="d-flex justify-content-center pb-2">
        {{ "labels.unmarked" | translate }}: {{ mineNumber }}
      </div>
    </div>
    <div>
      <app-game-table
        [selectedDifficulty]="selectedDifficulty"
      ></app-game-table>
    </div>
  </div>
</div>
